.botoes {
  font-size: 1.2rem;
  color: var(--cor4);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-left: 0;
  align-items: center;
  box-sizing: border-box;
  margin: 1rem;
}

.AreaBotoes {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.proximo{
  margin-left: auto;
}


:root {
  --tamanho-fonte: 1 rem;
}

.BarraNavegacao {
  font-size: var(--tamanho-fonte);
}

.Titulo{
  display: flex;
  flex-direction: column;
}

.AvaliacaoTitulo {
  font-size: 1.2rem;
  font-weight: bold;
}

.AvaliacaoDescricao {
  font-size: 0.9rem;
  color: var(--cor5);
}