.Areaquestao {
background-color: var(--cor6);
margin-top: 10rem;
width: 30rem;
}

.Status {
background-color: var(--cor5);
color: var(--cor4);
border: 1px solid var(--cor1);
margin-bottom: 1rem;
}

.Enunciado{
    color: var(--cor5);
    text-align: left;
    margin: 0 2rem;
}

.Opcoes{
    box-sizing: border-box;
    padding: 2rem;
}

.Botaoopcao{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}