

.Conteudo {
  width: 100%;
  height: 100vh;
  color: var(--cor4);
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 8rem;
  font-size: 30px;
  padding: 2rem ;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: flex-start;
}
.Avaliacoes {
display:flex ;
gap: 1rem;
flex-wrap: wrap;
justify-content: center;
}

.Avaliacao{
  width: calc(30% - 0.5rem);
  min-width: 25rem;
  max-width: 35rem;
  background-color: var(--cor5);
  color: var(--cor4);
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  padding: 1rem;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.Cabecalho{
    display: flex;
}


.TituloProva {
  font-size: 25px;
  font-weight: bold;
  margin-left:1rem;
}

.MaisDetalhesAvaliacao{
    display: flex;
    
    margin: 1rem;
}

.Data {
  font-size: 14px;
  font-weight: bold;
  margin-left:1rem;
}

.Tempo {
  font-size: 14px;
  font-weight: bold;
  margin-left:1rem;
}

.Questoes {
  font-size: 14px;
  font-weight: bold;
  margin-left:1rem;
}

.Botao {
  font-size: 20px;
  color: var(--cor4);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-left: 0;
  align-items: center;
  box-sizing: border-box;
  margin: 1rem;
}

.Botao button{
  width: 100%;
}

.TipoAvaliacao {
  font-size: 14px;
  color: var(--cor4);
  padding: 0.5rem;
  border-radius: 1rem;
}

.TipoProva{
    background-color: rgb(150, 212, 158);
}

.TipoSimulado{
    background-color: rgb(224, 143, 208);
}

.Disciplina{
    font-size: 18px;
    color: var(--cor4);
    padding: 0.5rem;
    margin: 1rem;
}



/* Modal */
.Modal {
  background-color: var(--cor5);
  color: var(--cor4);
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
}

.pelicula{
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.293);
  backdrop-filter: blur(5px);
}

.avaliacao{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.botoes{
    display: flex;
    gap:2rem;
}

.valor{
    text-align: end;
}

.icone{
  background-image: url("../../assets/Exclamacao.png");
  background-size: cover;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  margin-bottom: 1em; 
}

.BuscarAvaliacoes {
  font-size: 15px;
  color: var(--cor4);
  padding: 0.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

input{
  width: 50%;
  background-color: var(--cor5);
  color: var(--cor4);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 1rem;
}

button{
  border: 1px solid var(--cor4);
}