.Modal {
  background-color: var(--cor5);
  color: var(--cor4);
  padding: 2rem;
}

.avaliacao{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.botoes{
    display: flex;
    gap:2rem;
}

.valor{
    text-align: end;
}

.icone{
  background-image: url("../../assets/Exclamacao.png");
  background-size: cover;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  margin-bottom: 1em; 
}
