:root{
  --cor1:#4180ab;
  --cor2:#a567de;
  --cor3:rgb(149, 197, 222);
  --cor4:black;
  --cor5:rgb(231, 224, 224);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: var(--cor1);
}
.Logo{
  width: 100px;
}
.formulario{
  background-color: var(--cor3);
  padding: 50px;
  border-radius: 20px;
}

h1 {
  color: var(--cor4);
  margin-top: 0;
}

p {
  color: var(--cor4);
}

input {
  background-color: var(--cor5);
  color: var(--cor4);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: var(--cor1);
  color: var(--cor3);
  border: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
