#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: var(--background, var(--surface));
}

h1,
h2,
p {
  color: var(--text);
  margin-top: 0;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  transition: background-color 0.4s, color 0.4s;
}

button:hover {
  background-color: var(--button-hover);
}
